footer.footer
	.container
		.footer__main
			.footer-main__item.footer__left
				a.footer__logo(href='#')
					img.logo__img(src='./img/icons/logo.png', alt='tajam')
					h1.logo__title tajam
				p.footer-left__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit enim expedita facilis modi dignissimos nulla obcaecati rerum harum ipsam ipsum eos, amet
			.footer-main__item.footer__center
				.footer-center__title our studio
				.footer-center__address Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
				a.footer-center__phone(href='tel:+622122243333') (+62) 21-2224 3333
			.footer-main__item.footer__right
				.footer-right__title stay in touch
				.footer-right__subscribe
					form.subscribe__form
						input.subscribe__mail(type='email', placeholder='Subscribe our newsletter')
						button.subscribe__btn(type='submit', value='', onclick='return false')
				.footer-right__social
					ul.social__list
						li.social__item
							a.social__link.social__link_fb(href='javascript:void(0)')
						li.social__item
							a.social__link.social__link_tw(href='javascript:void(0)')
						li.social__item
							a.social__link.social__link_db(href='javascript:void(0)')
						li.social__item
							a.social__link.social__link_ig(href='javascript:void(0)')
						li.social__item
							a.social__link.social__link_gp(href='javascript:void(0)')
						li.social__item
							a.social__link.social__link_yt(href='javascript:void(0)')
		.footer__bottom
			.footer-bottom__nav
				ul.nav__list
					li.nav__item
						a.nav__link(href='javascript:void(0)') help
					li.nav__item
						a.nav__link(href='javascript:void(0)') terms & condition
					li.nav__item
						a.nav__link(href='javascript:void(0)') privacy
			.footer-bottom__copyright Copyright &copy; 2015 - Tajam Creative