header.header
	.container
		.header__top
			a.header__logo(href='#')
				img.logo__img(src='./img/icons/logo.png', alt='tajam')
				h1.logo__title tajam

			nav.header__nav
				ul.nav__list
					each item in ['home', 'about', 'expertise', 'teams', 'works', 'people say', 'contact']
						li.nav__item
							a.nav__link(href='javascript:void(0)')= item

		.header__main
			.header-main__item
				h2.main__title we are awesome creative agency
				p.main__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quam ipsum autem incidunt aliquam mollitia placeat aliquid dolorum officia eius nisi reiciendis omnis quisquam aut, corrupti consequuntur repellat, minus doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, commodi!
				a.button.button_header learn more
			.header-main__item
				h2.main__title we are awesome creative agency
				p.main__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quam ipsum autem incidunt aliquam mollitia placeat aliquid dolorum officia eius nisi reiciendis omnis quisquam aut, corrupti consequuntur repellat, minus doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, commodi!
				a.button.button_header learn more
			.header-main__item
				h2.main__title we are awesome creative agency
				p.main__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quam ipsum autem incidunt aliquam mollitia placeat aliquid dolorum officia eius nisi reiciendis omnis quisquam aut, corrupti consequuntur repellat, minus doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, commodi!
				a.button.button_header learn more
			.header-main__item
				h2.main__title we are awesome creative agency
				p.main__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quam ipsum autem incidunt aliquam mollitia placeat aliquid dolorum officia eius nisi reiciendis omnis quisquam aut, corrupti consequuntur repellat, minus doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, commodi!
				a.button.button_header learn more